body {
  font-family: Helvetica, Arial;
}

.pipe_entry {
  padding: 5px;
  margin: 10px;
}

.diktafonen {
  background: #ff90ff;
}

.youtube {
  background: red;
}

.tumblr {
  background: blue;
}

.perfectskies {
  background: purple;
}